.convenio-list-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.empty-msg {
  color: #777;
  padding: 10px;
}

.convenio-table {
  width: 100%;
  border-collapse: collapse;
}

.convenio-table th {
  background-color: #00a1e4;
  color: white;
  text-align: left;
  padding: 10px;
}

.convenio-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.convenio-table tr:hover {
  background-color: #e6f7ff;
}



.spinner {
  border: 4px solid #f3f3f3; /* fondo */
  border-top: 4px solid #003366; /* azul UTN */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}