.dashboard-container {
  background-color: #f5f5f5; /* gris claro */
  padding: 20px;
  min-height: 100vh;
    padding-top: 80px; /* si tu header mide 80px */
}

.filters-container {
  background-color: #1a1a1a; /* negro para contraste */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.buscar-btn {
  background-color: #0077c8; /* azul UTN */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.buscar-btn:hover {
  background-color: #005ea3;
}
