.searchbar-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.search-input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  flex: 1;
  min-width: 200px;
}

.toggle-btn {
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #e0e0e0;
  color: #000;
  transition: background 0.3s;
}

.toggle-btn.active {
  background-color: #00a1e4; /* celeste UTN */
  color: white;
}

.toggle-btn:hover {
  background-color: #0091cc;
  color: white;
}